* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: linear-gradient(rgb(157, 85, 85), rgb(217, 100, 100));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.form {
    width: 320px;
    background-color: rgb(218, 202, 63);
    border: 3px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}

/* Input focus effect */
input:focus {
    border-color: #333;
    background-color: #fffbe6;
}